root = true

[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 2

[*.cs]
indent_size = 4
dotnet_sort_system_directives_first = true
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
csharp_new_line_before_members_in_chained_calls = true
csharp_new_line_before_members_in_object_initializers = true
csharp_prefer_braces = true:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion

[*.xaml]
indent_size = 2
